* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
.flexbox {
  font-family: "Heebo";
  color: white;
  width: 1728px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.exercice {
  background-color: #eae2b7;
  display: flex;
  padding: 30px 0px;
  margin-bottom: 30px;
}
.bloc {
  background-color: #f77f00;
  border: 1px solid #d62828;
  padding: 35px 0px;
  height: 130px;
}
.ex-1-bloc {
  display: flex;
  align-items: center;
  width: 576px;
}

.ex-2 {
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.ex-2-bloc {
  padding: 35px;
}
